

.content {
    background: @navbar-default-bg;
    text-align: center;
    padding-bottom: 0.7em;
    
    img {
        margin: 0 auto;
    }
    
    p {
        padding-top: 2.3em;
    }
}

.navbar-default {
    //border-bottom: 1px solid @body-bg;
}

.navbar-brand {
    height: auto;
}

.pager .glyphicon {
    font-size: 65%;
    vertical-align: 0.1em;
}