.content {
    padding-bottom: 2.3em;

    h1 {
        text-align: center;
    }

    img {
        margin: 0 auto;
        display: block;
    }

    .post-cta {
        text-align: center;
        margin-top: 2em;
    }
}

.pager .glyphicon {
    font-size: 65%;
    vertical-align: 0.1em;
}

.navbar-brand {
    height: auto;
}

.blog {
    .container {
        max-width: 690px;

        .blog-post {
            font-size: 20px;
            line-height: 1.4em;

            & > p {
                margin-top: 1.5em;
                font-family: "Lucida Sans Unicode", "Lucida Grande";
                letter-spacing: -0.01em;
            }

            img {
                max-width: 100%;
                height: auto;
            }

            h2 {
                line-height: 1.09em;
                margin-top: 1.25em;
                text-align: center;
                font-size: 1.8em;
            }

            h3 {
                line-height: 1.09em;
                margin-top: 1.25em;
                text-align: center;
                font-size: 1.4em;
                color: #555;
            }
        }
    }

    p > code {
        padding: 0;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        margin: 0;
        font-size: 85%;
        background-color: rgba(0, 0, 0, 0.04);
        border-radius: 3px;

        &:before, &:after {
            letter-spacing: -0.2em;
            content: "\00a0";
        }
    }
}
