<!DOCTYPE html>
<html>
<head>
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="canonical" href="<%- siteurl %><%= folder %>/<%- id %>" />
    <link rel="first" href="/<%= folder %>/1" />
    <% if(!isLast) { %><link rel="next" href="/<%= folder %>/<%- id+1 %>" /><% } %>
    <% if(!isFirst) { %><link rel="prev" href="/<%= folder %>/<%- id-1 %>" /><% } %>
    <link rel="last" href="/<%= folder %>/<%- lastid %>" />
    <meta name="viewport" content="initial-scale=1.0, minimun-scale=1.0, width=device-width" />
    <meta name="description" content="<%- desc %>" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
    <!-- Feeds -->
    <link rel="alternate" type="application/rss+xml" href="http://feed43.com/4824306380765877.xml" />
    
    <!-- FB -->
    <meta name="og:image" content="<%- siteurl %><%- image.substr(1) %>" />
    <meta name="og:decscription" content="<%- share %>" />
    <meta property="fb:admins" content="100000475343767" />
    
    <!-- Twitter -->
    <meta name="twitter:card" content="photo">
    <meta name="twitter:creator" content="@luotojesse">
    <meta name="twitter:title" content="<%- title %>">
    <meta name="twitter:image" content="<%- siteurl %><%- image.substr(1) %>">
    <meta name="twitter:image:width" content="<%- width %>">
    <meta name="twitter:image:height" content="<%- height %>">
</head>
<body class="<%= folder %>">
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">
            <strong>Putrats</strong> &ndash;
            <small>Stories about the mind of a startup dev</small>
          </a>
        </div>
      </div>
    </div>
    
    <div class="container">
        <div class="first-pagination">
            <ul class="pager">
                <li<% if(isFirst) { %> class="disabled"<% } %>><a<% if(!isFirst) { %> href="/<%= folder %>/1" rel="first"<% } %>><span class="glyphicon glyphicon-step-backward"></span> First</a></li>
                <li<% if(isFirst) { %> class="disabled"<% } %>><a<% if(!isFirst) { %> href="/<%= folder %>/<%- id-1 %>" rel="prev"<% } %>><span class="glyphicon glyphicon-chevron-left"></span> Prev</a></li>
                <li<% if(isLast) { %> class="disabled"<% } %>><a<% if(!isLast) { %> href="/<%= folder %>/<%- id+1 %>" rel="next"<% } %>>Next <span class="glyphicon glyphicon-chevron-right"></span></a></li>
                <li<% if(isLast) { %> class="disabled"<% } %>><a<% if(!isLast) { %> href="/<%= folder %>/<%- lastid %>" rel="last"<% } %>>Last <span class="glyphicon glyphicon-step-forward"></span></a></li>
            </ul>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <h1><%- title %></h1>
                    <img src="<%- image %>" class="header-image img-responsive" title="<%- imgtitle %>" width="<%- width %>" height="<%- height %>" alt="<%- desc %>" />
                    <% if(isBlogPost) { %>
                        <div class="blog-post">
                            <%= blogPost %>
                        </div>
                    <% }; %>
                    <p class="post-cta">
                        Permanent link to this <% if(isBlogPost) { %>post<% } else { %>comic<% };%>: <a href="<%= siteurl %><%= folder %>/<%= id %>" rel="canonical"><%- siteurl %><%= folder %>/<%- id %></a><br />
                        <a href="https://twitter.com/intent/tweet?text=<%- share %>&url=<%- siteurl %><%= folder %>/<%- id %>&hashtags=<% if(isBlogPost) { %>blog<% } else { %>webcomic<% }; %>" class="twitter-share-button" target="_blank">Tweet</a><br />
                    </p>
                </div>
            </div>
        </div>
        <div class="last-pagination">
            <ul class="pager">
                <li<% if(isFirst) { %> class="disabled"<% } %>><a<% if(!isFirst) { %> href="/<%= folder %>/1" rel="first"<% } %>><span class="glyphicon glyphicon-step-backward"></span> First</a></li>
                <li<% if(isFirst) { %> class="disabled"<% } %>><a<% if(!isFirst) { %> href="/<%= folder %>/<%- id-1 %>" rel="prev"<% } %>><span class="glyphicon glyphicon-chevron-left"></span> Prev</a></li>
                <li<% if(isLast) { %> class="disabled"<% } %>><a<% if(!isLast) { %> href="/<%= folder %>/<%- id+1 %>" rel="next"<% } %>>Next <span class="glyphicon glyphicon-chevron-right"></span></a></li>
                <li<% if(isLast) { %> class="disabled"<% } %>><a<% if(!isLast) { %> href="/<%= folder %>/<%- lastid %>" rel="last"<% } %>>Last <span class="glyphicon glyphicon-step-forward"></span></a></li>
            </ul>
        </div>
        
        
        <footer>
            <div class="row">
                <div class="col-md-12">
                    
                    <ul class="list-unstyled">
                      <li class="pull-right"><a href="#">Back to top</a></li>
                      <li><a href="/blog">Blog</a></li>
                      <li><a href="/comics">Webcomic</a></li>
                      <li><a href="http://feed43.com/4824306380765877.xml">RSS</a></li>
                      <li><a href="https://github.com/jehna/grunt-gae-bootstrap-webcomic" rel="nofollow">Fork!</a></li>
                    </ul>
                    
                    <p>Site by <a href="https://www.twitter.com/luotojesse">Jesse Luoto.</a></p>
                    <p><br></p>
                    <p>This work is licensed under a Creative Commons Attribution-NonCommercial 2.5 License.</p>
                    <p>Code licensed under a MIT license and can be forked at <a href="https://github.com/jehna/grunt-gae-bootstrap-webcomic" rel="nofollow">GitHub project page</a>.</p>
                    <p><br></p>
                    <p>Site uses a modified Twitter Bootstrap theme called <a href="http://bootswatch.com/cosmo/" rel="nofollow">Cosmo</a>.</p>
                    <p><br></p>
                    <p>Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p></p>
                </div>
            </div>
        </footer>
    </div>
    
    
    <!-- GA -->
    <script>
    var galite = galite || {};
    galite.UA = 'UA-31498696-2';
    
    (function(window, localStorage, navigator, screen, document, encodeURIComponent) {
        window.addEventListener('load', function() {
            var pageLoadedTimestamp = new Date().getTime();
            
            window.galite = window.galite || {};
            var req = new XMLHttpRequest();
            var urlBase = (
                'http://www.google-analytics.com/collect?' +
                'cid=' + (localStorage.uid = localStorage.uid || Math.random() + '.' + Math.random()) +
                '&v=1' +
                '&tid=' + galite.UA +
                '&dl=' + encodeURIComponent(location) +
                '&ul=en-us' +
                '&de=UTF-8'
            );
            
            var getOptionalStr = function(values) {
                var str = '';
                for (var i in values) {
                    if (values[i] === undefined) {
                        return false;
                    }
                    str += values[i];
                }
                return str;
            };
            
            var optional = {
                'dt': [document.title],
                'sd': [screen.colorDepth, '-bit'],
                'sr': [screen.availHeight, 'x', screen.availWidth],
                'vp': [innerWidth, 'x', innerHeight]
            };
            for (var key in optional) {
                var value = getOptionalStr(optional[key]);
                if (value) {
                    urlBase += '&' + value;
                }
            }

            var sendTo = function(url) {
                if (navigator.sendBeacon) {
                    navigator.sendBeacon(url);
                } else {
                    req.open('GET', url, false);
                    req.send();
                }
            };

            var eventBuilder = function(event, params) {
                var paramsStr = '';
                for (var key in params) {
                    paramsStr = '&' + key + '=' + encodeURIComponent(params[key]);
                }
                return function() {
                    sendTo(
                        urlBase +
                        paramsStr +
                        '&t=' + encodeURIComponent(event) +
                        '&z=' + new Date().getTime()
                    );
                };
            };
            
            // Deplay the page load event by 100ms
            setTimeout(eventBuilder('pageview'), 100);
            
            /**
             * Note:
             * unload event does not fire on:
             * - Android chrome on tab closing
             */
            window.addEventListener(
                'unload',
                eventBuilder(
                    'timing',
                    {
                        'utc': 'JS Dependencies',
                        'utv': 'unload',
                        'utt': (new Date().getTime() - pageLoadedTimestamp)
                    }
                )
            );
        });
    })(window, localStorage, navigator, screen, document, encodeURIComponent);
    </script>
</body>
</html>
